beautifulsoup4==4.7.1
Flask==1.1.2
Flask-Material==0.1.1
html5lib==1.0.1
Keras==2.3.1
numpy==1.16.4
pandas==0.24.2
spacy==2.2.4
future==0.18.2	
urllib3==1.26.5
gunicorn==20.0.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm